<style>
    span {
        margin-bottom: 10px;
    }

    h1 {
        font-size: 32px;
        font-weight: bold;
        color: #0076E3;
    }

    img {
        width: 272;
        height: 74;
    }

    .small-text {
        font-size: 12px;
    }
</style>

<div>
    <span>Olá, {{name}}!</span>
    <br />
    <br />
    <span>Você está recebendo este email por que solicitou a redefinição de sua senha.</span>
    <span>Utilize o código abaixo para trocar sua senha.</span>
    <h1>{{recoveryCode}}</h1>
    <span>Caso você não tenha solicitado a troca de sua senha desconsidere esse
        e-mail. Obrigado!</span>
    <br />
    <br />
    <a href="https://www.pscode.com.br"><img src="https://i.ibb.co/Fnpr5fC/Logo-With-Text.png"
            alt="pscode-logo" /></a>
    <br />
    <br />
    <span>CNPJ: 47.463.499/0001-37</span>
    <br />
    <span class="small-text">Todos os Direitos Reservados</span>
</div>