<style>
    span {
        margin-bottom: 10px;
    }

    h1 {
        font-size: 32px;
        font-weight: bold;
        color: #0076E3;
    }

    img {
        width: 272;
        height: 74;
    }

    .small-text {
        font-size: 12px;
    }
</style>

<div>
    <span>Olá, {{name}}!</span>
    <br />
    <br />
    <span>Estamos passando por aqui apenas para lembrar que seu aluguél vencerá em breve. Cheque seu comprovante de aluguél para mais detalhes.</span>
    <br />
    <span>Esperamos que você esteja tendo uma ótima experiência de locação.</span>
    <br />
    <br />
    <a href="https://www.pscode.com.br"><img src="https://i.ibb.co/Fnpr5fC/Logo-With-Text.png"
            alt="pscode-logo" /></a>
    <br />
    <br />
    <span>CNPJ: 47.463.499/0001-37</span>
    <br />
    <span class="small-text">Todos os Direitos Reservados</span>
</div>